.myPaletteDiv{
    width: 200;
    height: 600;
}
.div-component{
    width: 1000px;
    height: 1000px;
    /* border: solid 1px black ; */
    /* background-color: white; */
  }

.align{
    display: flex;
}